generated
build
dist
node_modules
package-lock.json
yarn.lock
addresses.ts
subgraphs/**/src/constants/index.ts
subgraph.yaml

.pnp.*
**/tests/.*/
.vscode
.idea
deploy.sh

# turbo
.turbo
build/**
dist/**
